# Clés API et variables d'environnement
.env

# Données brutes (trop lourdes)
data/raw/
*.json
!models/final_model_metadata.json
!models/tuning_metadata.json

# Fichiers Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Logs
data_collection.log
.git