# ML & Data
pandas==3.0.1
numpy==2.4.3
scikit-learn==1.8.0
joblib==1.5.3
matplotlib==3.10.8
seaborn==0.13.2
imbalanced-learn==0.14.1
xgboost==3.2.0

# API
fastapi==0.115.0
uvicorn==0.44.0
pydantic==2.12.5
python-multipart==0.0.20

# Interface
streamlit==1.56.0
requests
